.card{
  border: 1px solid rgba(0, 0, 0, 0.508);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.173);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card .card-image{
  max-width: 80% ;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card-title{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(88, 82, 82);
}
.card .card-content{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(129, 126, 122);
}
.button{
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.student{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
  padding: 10px;
  padding-left: 40px;
  border: 1px solid rgb(122, 113, 113);
  max-width: 300px;
}
.student p{
  margin: 5px;
}
.isStudent-true{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.isStudent-false{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.listItemsLI:hover{
  color: red;
  cursor: pointer;
}
.counter-container{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(146, 137, 137);
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 800px;
  
}
.count-paragraph{
  font-size: 4em;
  margin-top: 30px;
  margin-bottom: 30px;
}
.counter-button{
  width: 200px;
  height: 40px;
  font-size: 1.2em;
  background-color: rgb(240, 157, 157);
  border-radius: 10px;
  cursor: pointer;
}
.counter-button:hover{
  background-color: rgb(240, 154, 186);
}